---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* To center images */
.center {
  text-align: center;
}

// $primary-color: #378973 !default;
$primary-color: #0d9ea5 !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 36px;
  height: 36px;

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 300px;
    border-radius: 10%;


    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid $border-color;
    }
  }
}

// https://www.w3schools.com/howto/howto_css_hero_image.asp

.page__hero {
  position: relative;
  margin-bottom: 2em;
  @include clearfix;
  -webkit-animation: $intro-transition;
          animation: $intro-transition;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;

  &--overlay {
    position: relative;
    margin-bottom: 2em;
    padding: 3em 0;
    @include clearfix;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation: $intro-transition;
            animation: $intro-transition;
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;

    a {
      color: #fff;
    }

    .wrapper {
      padding-left: 1em;
      padding-right: 1em;

      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }

    .page__title,
    .page__meta,
    .page__lead,
    .btn {
      color: #fff;
      text-shadow: 1px 1px 4px rgba(#000, 0.5);
    }

    .page__lead {
      max-width: $medium;
    }

    .page__title {
      font-size: $type-size-2;

      @include breakpoint($small) {
        font-size: $type-size-1;
      }
    }
  }
}

.page__hero-image {
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.page__hero-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-7;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 0 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.feature__item--left .archive__item-teaser {
  width: 25%;

}
.feature__item--right .archive__item-teaser {
  width: 25%;
}

.feature__item--left .archive__item-body {
  width: 70%;
  padding-left: 0%;
  padding-right: 0%;
}

.feature__item--right .archive__item-body {
  width: 70%;
  padding-left: 0%;
  padding-right: 5%;
  float: unset;
}

// .archive {
//   margin-bottom: 2em;
//   // display: table-cell;
//   // text-align: center;
//   // vertical-align: middle;
//   // vertical-align: text-top;
//   // vertical-align:middle;
//   // display: inline;
//   // display: inline-block;
//   // height: 100%;
//   // vertical-align: middle;
//   // position:relative;

//   @include breakpoint($large) {
//     float: right;
//     width: calc(100% - #{$right-sidebar-width-narrow});
//     padding-right: $right-sidebar-width-narrow;
//   }

//   @include breakpoint($x-large) {
//     width: calc(100% - #{$right-sidebar-width});
//     padding-right: $right-sidebar-width;
//   }
// }





// .archive__item-teaser {
//   text-align: center;
//   position: relative;
//   top: 50%;
//   -ms-transform: translateY(-50%);
//   -webkit-transform: translateY(-50%);
//   transform: translateY(-50%);
//   border-radius: $border-radius;
//   overflow: hidden;
//   img {
//     width: 95%;
//   }
// }